* {
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

.el-select .el-input {
    width: 150px;
}

.kindle-info {
    font-size: 13px;
}

a {
    color: #4183C4;
}

.title {
    font-size: 18px;
    line-height: 30px;
    color: #909399;
    white-space: normal;
    word-break: break-all;
    overflow: hidden;
    vertical-align: middle;
    margin: 8px 0px;
}

.faq {
    margin: 10px 0;
    font-size: 14px;
    color: #5CA941;
}

.msg {
    margin-left: 18px;
    color: #789;
}

.bottom {
    margin-top: 20px;
    font-size: 13px;
}

.bottom div {
    margin: 3px 0px;
}

.bottom .donation {
    margin: 10px 0px;
    color: red;
}

.hr {
    border-top: 1px dashed #789;
    width: 60%;
}