body {
    width: 450px;
    font: 12px/1.5 "Helvetica Neue",Helvetica,"Lucida Grande","Luxi Sans",Arial,"Hiragino Sans GB",STHeiti,"Microsoft YaHei","Wenquanyi Micro Hei","WenQuanYi Micro Hei Mono","WenQuanYi Zen Hei","WenQuanYi Zen Hei Mono",LiGothicMed;
    margin: 0 0;
    padding: 0 0;
}
.wrapper {
    margin-top: 10px;
    margin-left: 10px;
}
.ui.list{
    list-style-type: none;
    margin: 1em 0;
    padding: 0;
    font-size: 1em;
}
.ui.list>.item{
    display: list-item;
    table-layout: fixed;
    list-style-type: none;
    list-style-position: outside;
    padding: .21428571em 0;
    line-height: 2em;
    border-top-color: rgba(34, 36, 38, 0.14902);
    border-top-style: solid;
    border-top-width: 1px;
}
.ui.divided.list>.item:first-child {
    border-top: none;
}
.ui.list .list>.item [class*="right floated"], .ui.list>.item [class*="right floated"] {
    float: right;
    margin: 0 0 0 1em;
}
.list>.item>img.image+.content, .ui.list>.item>img.image+.content {
    display: inline-block;
    padding: 0 0 0 .5em;
}
.title a {
    font-weight: 700;
    color: #825d5b;
}
a, a:hover {
    text-decoration: none;
}
.title a:hover {
    border-color: #e0e0e0;
    background-image: none;
    color: rgba(0,0,0,.8);
}
.ui.label {
    display: inline-block;
    line-height: 1.4em;
    vertical-align: baseline;
    /* margin: 0 .14285714em; */
    padding: .4em .5em;
    text-transform: none;
    font-weight: 700;
    border: 0 solid transparent;
    border-radius: .28571429rem;
    transition: background .1s ease;
    font-size: .8em;
}
.green {
    background-color: #16ab39!important;
    border-color: #16ab39!important;
    color: #fff!important;
    background-image: none;
}
.red {
    background-color: #db2828!important;
    border-color: #db2828!important;
    color: #fff!important;
}
.blue {
    background-color: #1678c2!important;
    border-color: #1678c2!important;
    color: #fff!important;
}
.tabular.menu {
    box-shadow: none!important;
    border: none;
    background: none;
    border-bottom: 1px solid #d4d4d5;
    font-size: 1.2em;
    display: flex;
    font-weight: 400;
    min-height: 2em;
    margin-left: -10px;
    padding-left: 10px;
}
.ui.tabular.menu .active.item {
    background: #fff;
    color: rgba(0,0,0,.95);
    border-top-width: 1px;
    border-color: #d4d4d5;
    font-weight: 700;
    margin-bottom: -1px;
    cursor: default;
}
.ui.tabular.menu .item {
    border-bottom: none;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-top: 2px solid transparent;
    padding: .7em 1.2em;
    position: relative;
    vertical-align: middle;
    line-height: 1;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    -webkit-user-select: none;
    text-transform: none;
    cursor: pointer;
    transition: background .1s ease,box-shadow .1s ease,color .1s ease;
}
.ui.attached.segment {
    position: relative;
    padding: 1em;
}
.hidden {
    display: none;
}


