body {
    width: 450px;
    font: 12px/1.5 "Helvetica Neue",Helvetica,"Lucida Grande","Luxi Sans",Arial,"Hiragino Sans GB",STHeiti,"Microsoft YaHei","Wenquanyi Micro Hei","WenQuanYi Micro Hei Mono","WenQuanYi Zen Hei","WenQuanYi Zen Hei Mono",LiGothicMed;
    margin: 0 0;
    padding: 0 0;
    height: 285px;
}
.wrapper {
    margin-top: 10px;
    margin-left: 10px;
}
.ui.list{
    list-style-type: none;
    /* margin: 1em 0; */
    padding: 0;
    font-size: 1em;
}
.ui.list>.item{
    display: list-item;
    table-layout: fixed;
    list-style-type: none;
    list-style-position: outside;
    padding: .21428571em 0;
    line-height: 2em;
    border-top-color: rgba(34, 36, 38, 0.14902);
    border-top-style: solid;
    border-top-width: 1px;
}
.ui.divided.list>.item:first-child {
    border-top: none;
}
.ui.list .list>.item [class*="right floated"], .ui.list>.item [class*="right floated"] {
    float: right;
    margin: 0 0 0 1em;
}
.list>.item>img.image+.content, .ui.list>.item>img.image+.content {
    display: inline-block;
    padding: 0 0 0 .5em;
}
.history {
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 5px;
}
.title {
    font-weight: 700;
    color: #825d5b;
}
.center{
    text-align: center;
    line-height: 2.5em;
}
.large {
    font-size: 16px;
}
.gray {
    color: #999;
}
a, a:hover {
    text-decoration: none;
}
.title a:hover {
    border-color: #e0e0e0;
    background-image: none;
    color: rgba(0,0,0,.8);
}
.ui.label {
    display: inline-block;
    line-height: 1.4em;
    vertical-align: baseline;
    /* margin: 0 .14285714em; */
    padding: .4em .5em;
    text-transform: none;
    font-weight: 700;
    border: 0 solid transparent;
    border-radius: .28571429rem;
    transition: background .1s ease;
    font-size: .8em;
}
.green {
    background-color: #16ab39!important;
    border-color: #16ab39!important;
    color: #fff!important;
    background-image: none;
}
.red {
    background-color: #db2828!important;
    border-color: #db2828!important;
    color: #fff!important;
}
.blue {
    background-color: #1678c2!important;
    border-color: #1678c2!important;
    color: #fff!important;
}
.tabular.menu {
    box-shadow: none!important;
    border: none;
    background: none;
    border-bottom: 1px solid #d4d4d5;
    font-size: 1.2em;
    display: flex;
    font-weight: 400;
    min-height: 2em;
    margin-left: -10px;
    padding-left: 10px;
}
.ui.tabular.menu .active.item {
    background: #fff;
    color: rgba(0,0,0,.95);
    border-top-width: 1px;
    border-color: #d4d4d5;
    font-weight: 700;
    margin-bottom: -1px;
    cursor: default;
}
.ui.tabular.menu .item {
    border-bottom: none;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-top: 2px solid transparent;
    padding: .7em 1.2em;
    position: relative;
    vertical-align: middle;
    line-height: 1;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    -webkit-user-select: none;
    text-transform: none;
    cursor: pointer;
    transition: background .1s ease,box-shadow .1s ease,color .1s ease;
}
.ui.attached.segment {
    position: relative;
    padding: 1em 1em;
}
.hidden {
    display: none;
}
.tab {
    height: 220px;
}
.tab .list{
    font-size: 13px;
    /* line-height: 1.5em; */
}
.tab .margin {
    margin-bottom: 10px;
}
.tab .email-div{
    text-indent: 2em;
}
.tab .save{
    margin-top: 5px;
    text-indent: 0px;
    margin-left: 10px;
 }
.tab .button{
    width: 100px;
    text-align: center;
    background-color: #60B044;
    background-image: linear-gradient(#8ADD6D, #60B044);
    background-repeat: repeat-x;
    border-color: #5CA941;
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    line-height: 29px;
    padding: 0 10px;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    position: relative;
    vertical-align: middle;
    white-space: nowrap;
    text-decoration: none;
}
#btnSetting{
    width: 140px;
    text-align: center;
}
.tab .faq{
    margin-top:5px;
    font-size: 14px;
    color: #5CA941;
}
.tab .option {
    color: #666;
    font-size: 12px;
}
.msg{
    margin-left: 18px;
    color: #789;
}
.hr{
    border-top: 1px dashed #789;
    width: 90%;
}
.tab .help{
    margin-top:10px;
}
.donation .left{
    float: left;
    width: 50%;
}
.donation .right{
    font-size: 13px;
    color: red;
    font-weight: 700;
    line-height: 1.4em;
    padding-top: 20px;
}
::-webkit-scrollbar {
    width: 7px;
    background: #fff;
}
::-webkit-scrollbar-thumb {
    background: #ccc;
    border: 1px #ccc solid;
}