__pycache__/
env/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
htmlcov/
.tox/
docs/_build/
*logs/*
data/*
out-data/*
.idea/
env/
*.db
*.sh
*.out
\#*
*.pid
*.bak
*.zip
.coverage
.cache
*.mo
*.pot
*.log
.installed.cfg
*.egg
*.py[cod]
*.so
.Python
*.bak
