$var title: Login

<link rel="stylesheet" type="text/css" href="/static/css/login.css">
<script src='/static/js/login.js' type='text/javascript'></script>
<div class="container">

  <form class="form-signin">
    <h2 class="form-signin-heading">后台登录</h2>
    <label for="inputEmail" class="sr-only">User name</label>
    <input type="text" id="inputUser" class="form-control" placeholder="User name" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="remember-me"> 记住密码
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
  </form>

</div> <!-- /container -->
